.toolbar-background-ios,
.toolbar-background-md,
.toolbar-background-wp {
  background: #556b2f;
}
/* Bottom tabs selected color */
.tabs-md .tab-button[aria-selected=true] .tab-button-icon,
.tabs-md .core-tabs-bar a[aria-selected=true].tab-slide .tab-button-icon,
.core-tabs-bar .tabs-md a[aria-selected=true].tab-slide .tab-button-icon,
.tabs-ios .tab-button[aria-selected=true] .tab-button-icon,
.tabs-md .core-tabs-bar a[aria-selected=true].tab-slide .tab-button-icon,
.core-tabs-bar .tabs-ios a[aria-selected=true].tab-slide .tab-button-icon,
.tabs-wp .tab-button[aria-selected=true] .tab-button-icon,
.tabs-wp .core-tabs-bar a[aria-selected=true].tab-slide .tab-button-icon,
.core-tabs-bar .tabs-wp a[aria-selected=true].tab-slide .tab-button-icon {
  color: #556b2f;
}
/* Tabs color*/
.core-tabs-bar .slides a.tab-slide[aria-selected=true] {
  color: #556b2f !important;
  border-bottom-color: #556b2f !important;
}
/* Loading spinner */
.spinner circle, .spinner line {
    stroke: #556b2f;
}
